# +------------------------------------------------------------+
# | Startup Options                                            |
# +------------------------------------------------------------+
startup --batch_cpu_scheduling
startup --host_jvm_args=-XX:-UseParallelGC

# +------------------------------------------------------------+
# | Build/Test Configurations                                  |
# +------------------------------------------------------------+
build --output_filter="^//"
build --show_timestamps
build --spawn_strategy=local
build --verbose_failures
build -c opt

build --per_file_copt="-\\.$@-Wall,-Wextra,-Werror"
build --per_file_copt="-\\.$,external/.*@-w"
build --per_file_copt="-\\.$,third_party/.*@-w"

build --cxxopt="-std=c++17"
build --copt="-Werror=switch"
build --cxxopt="-Werror=reorder"
build --copt="-fno-canonical-system-headers"
build --cxxopt="-fno-canonical-system-headers"
build --cxxopt="-fdiagnostics-color=always"
build --cxxopt="-Wno-error=unused-variable"
build --cxxopt="-Wno-error=unused-parameter"
build --cxxopt="-Wno-error=unused-but-set-variable"
build --cxxopt="-Wno-unused"

test --test_output=errors
test --spawn_strategy=local

try-import %workspace%/clang.bazelrc
build:clang --action_env=LLVM_VERSION
build:clang --host_copt="-Wno-deprecated-builtins"

build:aarch64 --crosstool_top=//toolchain:aarch64_suite
build:aarch64 --cpu=aarch64
build:aarch64 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:aarch64 --nostart_end_lib
build:aarch64 --copt=-fPIC
build:aarch64 --//platforms:platform=linux_arm64
